body {
    width: 50%;
    background-image: url('Photos/rafael.jpg');
    background-size: cover;
}

.text {
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.table {
    margin-top: 80px;
    text-align: center;
    margin-left: 300px;
    transition: 0.2s;
}

table tr:hover {
    background-color: red;
    transform: scale(0.9);
    transition: 0.4s;
}

table tbody th:nth-child(odd):hover {
    background-color: blue;
    color: white;
}

footer {
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    background-color: brown;
    color: white;
    text-align: center;
}

.space {
    margin-top: 250px;
}

form {
    margin-top: 100px;
    text-align: center;
}

.space2 {
    margin-top: 500px;
}